html {
    height:100%;
}
body {
    height: var(--app-height);
    margin:0;
    border:0;
    padding:0;
    background-color: #d9d3b3;
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.wrap {
    position:relative;
    top:0;
    width:100%;
    height:100%;
    transition: 0.5s;
}
.container {
    width:100%;
/*     height:100%; */
    height: var(--app-height);
}
/* .container:nth-child(1){background-color: green;} */
/* .container:nth-child(2){background-color: orange;} */
/* .container:nth-child(3){background-color: yellow;} */
/* .container:nth-child(4){background-color: red;} */
/*********************************************************** 첫번째 페이지 */
.page_1{
    background-image: url('../image/main2.jpg');
    background-size: cover;
    background-position-x:50%;
    flex-grow: 1;
}
#page_1_0 {
    height: -webkit-fill-available;
    width: 100%;
}
#title {
    font-family: 'Amarillo';
    font-size: xx-large;
    color: #FFF;
}

details {
    margin: 5px 0 10px;
}
details > summary {
    background: #666;
    color: #fff;
    padding: 10px;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s;
    text-align: left;
    box-shadow: 1px 1px 2px gray;
}
details > summary::-webkit-details-marker {
    transform: rotate3d(0, 0, 1, 90deg);
    transition: transform 4s;
}
iframe {
    width:640px;
    height: calc(var(--app-height) *0.6);
}

/* 클릭시효과 */
details[open] > summary::-webkit-details-marker {
    transform: rotate3d(0, 0, 1, 180deg);
}
details[open] > summary {
    background: pink;
}
.hd {
    visibility: hidden;
}
/* 장소 및 시간 안내 (간략) */
#content{
    height: -webkit-fill-available;
    color: #FFF;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*********************************************************** 두번째 페이지 */
#page_2_0 {
    width: 80%;
    height: 80%;
    background-image:url('../image/background_2.jpg');
    border-radius: 30px;
    box-shadow: 3px 6px 7px -5px;
}
#invit_title{
    font-size: larger;
    width: 80%;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    /* opacity: 0.5; */
}
#invit_title::before {
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
#invit_title::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    /* background-color: #fcfcfa; */
    background-image:url('../image/background_1.jpg');
 }
#invit{

}
/*********************************************************** 세번째 페이지 */
#gallery_title{
    display: flex;
    justify-content: center;
}
li {
  list-style: none;
}
.kind_wrap {
  border:2px solid black; 
  width:80%; 
  max-width:800px; 
  margin:0 auto; 
  position: relative;
  background-color: black;
}
.kind_wrap > .kind_slider {
  overflow: hidden;
  width: 100%;
}
.kind_wrap > .kind_slider .slider { 
    display: flex;
    position: relative;
    transition: 0.5s;
    padding-inline-start: 0px;
    align-items: center;
}
.kind_wrap > .kind_slider .slider li {
  float:left;
}
.kind_wrap > .kind_slider img {
  vertical-align: top;
  object-fit: contain;
}
.kind_wrap .arrow > a.prev {
  position: absolute;
  left: -10%;
  top: 50%;
  height: 60px;
  width: 60px;
  background-size: cover;
  background-image: url('../image/icon_001.png');
  transform: rotate(180deg);
  font-size: 0;
}
.kind_wrap .arrow > a.next {
  position: absolute;
  right: -10%;
  top: 50%;
  height: 60px;
  width: 60px;
  background-size: cover;
  background-image: url('../image/icon_001.png');
  transform: rotate(0deg);
  font-size: 0;
}
/* .divider
{
  position: relative;
  margin-top: 90px;
  height: 1px;
}
.div-tab-down:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 14px;
  background-color: white;
  border-bottom: 1px solid rgb(48,49,51);
  border-left: 1px solid rgb(48,49,51);
  border-right: 1px solid rgb(48,49,51);
  border-radius: 0 0 8px 8px;
} */
/*********************************************************** 스타일 */
/* 정렬 */
.flex_scc {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.flex_ccc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* 텍스트 효과 */
.txt_shd {
    text-shadow: 9px 5px 4px black;
}
.txt_center{
    text-align: center;
}
.line_h {
    line-height: 2.5;
}
/* 필터 */
.backdrop_b2_b5{
    backdrop-filter: blur(2px) brightness(0.5);
}
/* 기타 */
.bar{
    padding:10% 0%;
    border: 1px solid #a8a0a080;
}

.m5{
    margin: 5%;
}
.mt5{
    margin-top: 5%;
}
.mb5{
    margin-bottom: 5%;
}

.p5{
    padding: 5%;
}
.pt5{
    padding-top: 5%;
}
.pb5{
    padding-bottom: 5%;
}
.pt10{
    padding-top: 10%;
}
/* 폰트 */
@font-face {
  font-family: 'Amarillo';
  src: url('./font/amarillo/Amarillo.ttf') format('truetype'); /* 폰트 파일 경로 및 형식 지정 */
}
.fnt1{
    font-family: 'Amarillo';
    font-size: xx-large;
    color: #FFF;
}
/*color*/
.bl{
    background-color: #808ac0;
}
.pk{
    background-color: #c0808a;
}
/*********************************************************** 미디어 쿼리 */
@media only screen and (max-width: 700px) {
  iframe {
    width:100%;
  }
}
