html {
    height:100%;
}
body {
    height: var(--app-height);
    margin:0;
    border:0;
    padding:0;
/*     overflow: hidden; */
}
.wrap {
    position:relative;
    top:0;
    width:100%;
    height:100%;
    transition: 0.5s;
}
.container {
    width:100%;
/*     height:100%; */
    height: var(--app-height);
}
/* .container:nth-child(1){background-color: green;} */
.container:nth-child(2){background-color: orange;}
.container:nth-child(3){background-color: yellow;}
.container:nth-child(4){background-color: red;}
/* 첫 페이지 - 메인 */
@font-face {
  font-family: 'Amarillo';
  src: url('./font/amarillo/Amarillo.ttf') format('truetype'); /* 폰트 파일 경로 및 형식 지정 */
}
.page_1{
    background-image: url('../image/main2.jpg');
    background-size: cover;
    background-position-x:50%;
    flex-grow: 1;
}
#page_1_0 {
    height: -webkit-fill-available;
    width: 100%;
}
#title {
    font-family: 'Amarillo';
    font-size: xx-large;
    color: #FFF;
}

details {
    margin: 5px 0 10px;
}
details > summary {
    background: #666;
    color: #fff;
    padding: 10px;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s;
    text-align: left;
    box-shadow: 1px 1px 2px gray;
}
details > summary::-webkit-details-marker {
    transform: rotate3d(0, 0, 1, 90deg);
    transition: transform 4s;
}
iframe {
    width:640px;
    height: calc(var(--app-height) *0.6);
}

/* 클릭시효과 */
details[open] > summary::-webkit-details-marker {
    transform: rotate3d(0, 0, 1, 180deg);
}
details[open] > summary {
    background: pink;
}
.hd {
    visibility: hidden;
}
/* 장소 및 시간 안내 (간략) */
#content{
    height: -webkit-fill-available;
    color: #FFF;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 정렬 */
.flex-scc {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
/* 텍스트 효과 */
.txt-shd {
    text-shadow: 9px 5px 4px black;
}
/* 필터 */
.backdrop-b2-b5{
    backdrop-filter: blur(2px) brightness(0.5);
}

@media only screen and (max-width: 700px) {
  iframe {
    width:100%;
  }
}
